.App {
  padding: 10px;
  font-family: Muli
}

body {
  font-family: "Muli", sans-serif;
  font-size: 18px;
}

@font-face {
  font-family: Muli;
  src: url("./static/Muli/Muli-Regular.ttf");
}

@font-face {
  font-family: Muli;
  src: url("./static/Muli/Muli-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Muli;
  src: url("./static/Muli/Muli-Italic.ttf");
  font-style: italic;
}
